*{
    margin:0px;
    padding:0px;
}
.medit-point{
    list-style-type: none;
    margin-left:10px;
}
.medit-li{
    width: 100vw;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 100px;
    font-size: 1.2rem;
    background-color:rgb(41, 41, 41);
    padding-left: 10vh;
}
#medit-head{
    text-align: center;
    font-size:2rem;
    padding-top: 10px;
  
}
.medit-content{
    width:70vw;

}
.medit-image{
    background-image: url('../assets/meditimg.jpg');
    background-size: cover;
    height: 40vh;
    width:50vh;
    /* position: fixed; */
    /* right:30px;
    top:200px; */
    margin: 30px;
    margin-left: 10vh;
}
.medit-page{
    height:100px;
    
}
.medit-head-class{
    background-color: rgba(0, 0, 0, 0.546);
    width:100vw;
    height:65px;
    color:rgb(17, 175, 193);
    position: fixed;
    margin-bottom: 70px;
}
@media (max-width: 800px) {
.medit-head-class{
    height: 130px;
    margin-bottom: 270px;
}
#medit-head{
    margin-top: 20px;
    font-size: 3rem;
}
.medit-li{
    padding-top: 150px;
    font-size: 1.2rem;
}
}