*{
    margin:0px;
    padding:0px;
}
.Registration{
    background-image: url('../assets/registration.png');
    background-size: cover;
    height:100vh;
}   
.heade{
    display:flex;
    justify-content:space-between;
    background-color: rgb(0, 0, 0);
    height:70px;
}
#heade-medi,#heade-about,#heade-regis,#heade-log{
    padding: 0px 35px;
    font-weight: bold;
    font-size: 1.5rem;
    color:rgb(17, 175, 193);
    margin-top:10px;
    
}
#heade-log:hover,#heade-about:hover,#heade-medi:hover{
   color:rgb(162, 229, 236);
   cursor:pointer;
}
.heade-right{
    
    width:300px;
    display:flex;
}
.Registration-form
{
    margin-top:80px;
    background-color: rgba(0, 0, 0, 0.628);
    width:40vw;
    height:55vh;
    border-radius: 25px;
    margin-left:auto;
    margin-right: 30px;
    text-align: center;
    padding-top: 15px;
    overflow: auto;
}
.reg-input{
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #d1d1d1; /* Slightly off-black for form */
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Stylish shadow */
}
.reg-input::placeholder{
    font-size: 1rem;
    color:black;
}
#reg-sub{
    font-size:1.4rem;
    margin:10px;

   

    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.3s;
}
#reg-sub:hover{
    background-color: rgb(17, 175, 193);
}
.reg-link
{
    color:rgb(254, 200, 119);
}
.reg-link:hover
{
    color:rgb(0, 124, 240);
}





/* Mobile Styles */
@media (max-width: 800px) {
    
    .heade {
        flex-direction: column;
        /* height: px; Adjusted height for mobile */
        padding: 10px;
        width: 100%;
    }
    #heade-medi,#heade-about,#heade-regis,#heade-log {
        
       /* Adjusted margin to add horizontal space */
        font-size: 1.2rem; /* Adjusted font-size for mobile */
        padding: 5px 5px;
        width: 40%; /* Adjusted width */
        text-align:center; /* Center align text */
    }
    

    .home-meditation {
        width: 80vw; /* Adjusted width for mobile */
        font-size: 0.8rem; /* Adjusted font-size for mobile */
        top: 120px; /* Adjusted position for mobile */
        left: 50%;
        transform: translateX(-50%); /* Center align */
    }

    #home-medit-matter {
        margin-left: 0;
        margin-top: 20px;
        padding: 0 10px; /* Adjusted padding for mobile */
        font-size: 1.5rem;
        line-height: 1.7;
    }

    #home-head-medit {
        padding-left: 0;
        font-size: 2.5rem; /* Adjusted font-size for mobile */
    }
    .imgcon{
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url("../assets/homeback.jpg");
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    }
    .Home{
        background-color: rgba(7, 7, 7, 0.297);
        height: none;
        background-image: none;
        background-size: none;
       
    }
    .Home::before {
        content: none;
        position: none;
        width: none;
        height: none;
        background-color: none; /* Adjust the color and opacity as needed */
        /* z-index: none; Make sure the overlay is behind the content */
    }
}


